@charset "UTF-8";
#manualTitle {
  margin-top: 10px;
  font-size: 30px;
  font-weight: bold;
}

#manualIndexExpandButton {
  position: fixed;
  left: 35%;
  top: 511px;
}

.theMostUpperToc {
  counter-increment: num_idx;
}
.theMostUpperToc > .tocify-item > a {
  font-weight: bold;
}
.theMostUpperToc > .tocify-item > a li, .theMostUpperToc > .tocify-item > a ul {
  font-weight: normal;
}
.theMostUpperToc > .tocify-item > a:before {
  font-size: 1.1rem;
  font-weight: bold;
  content: "" counter(num_idx) "章 ";
}

#table-of-contents-div {
  border: 1px solid #AAA;
  background-color: #FFF;
  padding: 5px;
  font-size: 80%;
}
#table-of-contents-div h2 {
  margin-left: 10px;
  font-size: 100%;
  font-weight: bold;
  color: #666;
}
#table-of-contents-div ol {
  margin: 3px 0 3px 0px;
  padding-left: 15px;
  list-style-type: decimal;
  position: outside;
}
#table-of-contents-div ol.chapter {
  padding-left: 0px;
  list-style-type: upper-roman;
  list-style-position: inside;
}
#table-of-contents-div ol ol ol li {
  display: inline;
  margin-top: 0px;
  margin-bottom: 0px;
}
#table-of-contents-div ol ol ol li:after {
  font-size: 0.7rem;
  content: "/";
}

ul {
  padding-left: 20px;
}

a {
  color: #333;
}
a .toclink {
  font-family: "MS Pゴシック", Osaka, "ヒラギノ角ゴ Pro W3", sans-serif;
  font-size: 50%;
  font-weight: normal;
  text-decoration: underline;
}

#right_frame a {
  color: #0088ff;
}

code {
  color: #000;
  margin-left: 5px;
  margin-right: 5px;
}

.inline_console {
  color: #FCFCFC;
  background-color: #000;
  font-family: consolas;
  border: 1px solid #BBB;
  border-radius: 7px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  padding-right: 6px;
  line-height: 2;
  margin: 2px;
}

body {
  color: #000;
  font-family: Verdana,Arial,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  margin: auto;
}

#left_frame {
  color: #000;
  background-color: #fff;
  line-height: 1.1;
  left: 0;
  height: 100%;
  margin: 0;
  padding: 0;
  position: fixed;
  _position: absolute;
  top: 0;
  width: 265px;
}

#right_frame {
  position: absolute;
  background-color: #FFF;
  margin: 20px 0 0 305px;
  padding: 0;
  height: 100%;
  width: 70%;
  _overflow: auto;
}

.note {
  /* spanタグのtitle属性に豆知識を書く。マウスオーバーすると読める。 */
}

#footnote-container {
  margin: 0px 10px;
  padding: 5px;
  border: solid　1px　 white;
}

p {
  line-height: 1.9em;
}

sup {
  color: #39F;
  font-size: 1.3rem;
  cursor: pointer;
}

td.vertical_center {
  vertical-align: middle;
}

.console {
  background-color: #262626;
  color: #EEF;
  padding-left: 5px;
  font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
}
.console:before {
  content: "";
  color: #FF0;
}

.errorConsole {
  color: #FFF;
  background: #333333 url("../img/peke.png") no-repeat right;
}

h2#toc_index_title {
  line-height: 1;
  margin-bottom: 0;
  margin-top: 0;
}

h3, h4, h5, h6 {
  margin-top: 30px;
  text-shadow: 2px 2px 4px #AAA;
}

h3 {
  margin-top: 30px;
  margin-left: -30px;
  padding-left: 10px;
  background-color: #EEE;
  counter-increment: num_h_three;
  counter-reset: num_h_four;
}
h3:before {
  font-size: 1.5rem;
  content: "" counter(num_h_three) "章 ";
}

h4 {
  counter-increment: num_h_four;
  counter-reset: num_h_five;
}
h4:before {
  font-size: 1.2rem;
  content: "" counter(num_h_three) "." counter(num_h_four) "節 ";
}

h5 {
  counter-increment: num_h_five;
}
h5:before {
  font-size: 1.2rem;
  content: "" counter(num_h_three) "." counter(num_h_four) "." counter(num_h_five) "  ";
}

strong {
  text-align: center;
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
}

.strong_decoration {
  font-weight: bold;
}

.facolor {
  color: #0088ff;
}
